SUBSCRIPTION_ID=""
# Azure region where the created resource group will be located.
# Currently supported regions: "eastus", "eastus2", "westus", "westus2", "westus3", "westeurope", or "northeurope".
LOCATION="eastus"
# Name of resource group which will hold the Arc-enabled cluster and Azure IoT Operations resources.
# NOTE: This will be created if it does not already exist.
RESOURCE_GROUP=""
# Name of the Arc-enabled cluster to create in your resource group.
CLUSTER_NAME=""
# Name of keyvault to be used for AIO (aio_setup.sh).
KEYVAULT_NAME=""
################################################################
# The following are used for vm_ubuntu_setup.sh
# The name of the virtual machine to create.
VM_NAME=""
# The size of the virtual machine to create.
VM_SIZE="Standard_DS2_v2"
# The image to use for the virtual machine.
VM_IMAGE="Canonical:0001-com-ubuntu-minimal-jammy:minimal-22_04-lts-gen2:latest"
# The username for the virtual machine.
VM_USERNAME="azureuser"
################################################################
# The following are only needed if running the Arc Server Setup script (arc_server_setup.sh)
# Tenant Id for the subscription that will be used. This is alternatively called the Directory Id in the Azure Portal.
TENANT_ID=""
# The App Id of the Service Principal used to setup the Arc Server link.
# NOTE: If left blank, a Service Principal will be created.
SERVICE_PRINCIPAL_APP_ID=""
# The Password for the Service Principal. Required if SERVICE_PRINCIPAL_APP_ID is included above.
SERVICE_PRINCIPAL_PASSWORD=""
# Only used if the service principal is created by the script. 
SERVICE_PRINCIPAL_DISPLAY_NAME="Arc server onboarding account"
# Id of the subscription where your resource group and Arc-enabled cluster will be created.
################################################################
# The following are only needed if running the ESA Bottomless Ingest script (esa_bottomless_ingest.sh)
# Name of storage account used by Edge Storage Accelerator (ESA).
STORAGE_ACCOUNT_NAME=""
# Name of blob container used by ESA.
BLOB_CONTAINER_NAME=""
# Kubernetes namespace for ESA resources (should be same as workload using ESA).
KUBES_NAMESPACE=""
# The expiration date of the SAS token generated for the blob storage account.
# This will become a Kubernetes secret and used by ESA to authenticate to that account.
SAS_EXPIRATION_DATE="2024-11-06"
# Name of the Persistent Volume Claim that will be used by ESA.
ESA_PVC_NAME=""
